@model ShiftBusiness.Hospital.ShiftPlanException

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ShiftPlanException</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShiftPlanId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShiftPlanId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsedToWeekend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsedToWeekend)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsedToHoliday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsedToHoliday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeginTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeginTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
